
@import "https://fonts.googleapis.com/css?family=Otomanopee One:300,400,500,600,700";
body { 
    font-family: 'Playfair display';
    background-color:#fafafa;  
}

.font-MyFont {
  
  font-size: 50px;
  text-align: center;
  
 
  }
.text-xl
{
  text-align: center;
}
  .left
  {
    float: right;
    width:500px;
  }

  .max-auto
  {
    float: left;
  }
  
 
  .container1
  {
    float: right;
  }

  .text{
    color:black;
    font-size: 20px;
  }
  

.footer-logo
{
  text-align:center;
  width:100%;
    color:white;
  padding:10px
}


  .footer
  {
    
    padding: 10px;
    color: white;
    width:100%;
    font-size:15px;
    text-align: center;
  }
    

  

  input:checked ~ .dot {
    transform: translateX(100%);
    background-color:rgb(105, 6, 175);
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .container2 {
    display: flex;
    align-items: left;
    justify-content: left;
  }

