<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap|css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/why.css"> 
    <title>Why ZugZwang</title>

            <br>
            <h1 class="text-center text-blue-600 text-4xl font-bold"><br>Why should your child join ZugZwang?</h1>           
              <br><br>
              <p class="px-16 text-xl">
            
                Imagine this. A parent is waiting in the reception to pick up the child after
                class. The class is long over. A few kids are still in the class lost in the activity
                that has engaged them. Whether it is the silent contemplation in a chess game
                or the animated discussion with the teacher in robotics, the common theme -
                they have lost track of time. This plays out every week at ZugZwang
                Academy. <br> <br>
                This was before the lockdown. In the last few months, we’ve translated this
                level of flow & engagement into the online world. With renewal rates of close to
                90%, our programs have been a runaway hit with kids, who often skip school
                lectures to attend our classes. Through a variety of activities, challenges,
                portals such as ChessKid & FlipGrid, we’ve been able to capture the
                imagination of kids to learn in a fun & balanced manner. <br> <br>
                This is your average ZugZwang child - smart, intelligent, intellectual,
                intrinsically motivated and in flow with supreme focus & concentration.
                The average child in today’s world is often driven by extrinsic factors such as
                fear (what would happen if you fail?) or greed (study, and I”ll buy you a
                gaming system). At ZugZwang, our kids are motivated intrinsically. They do
                things sans incentives and threats. They love what they do. But, how do we
                achieve that? Read on. <br> <br> <hr> 
                
                <p class="px-16 text-2xl"> <b>
                To motivate a child intrinsically, we tap into the positive emotions. After all,
                emotions are the motive force for action. And we refrain from using negative
                emotional drivers such as guilt, shame, fear or greed. The positive factors
                include <br> <br> </b>

                <p class="px-16 text-xl">
                
                    <b>Curiosity</b> - nothing like invoking a child’s natural curiosity for things. Our
                        method of structuring all classes as challenges helps us stoke the
                        curiosity into a fire for learning. <br> <br>
                    <b>Natural Interest</b> - Activities a child loves doing be it chess or Rubik’s.
                        Natural interest is an activity or a task that has the least amount of
                        resistance and greatest amount of action-orientation. <br> <br>
                    <b>Overcoming Challenges</b> - The feeling of achieving a goal and overcoming a
                        challenge is a great driver for kids to do something. Done over a
                        consistent period it helps build great habits, work ethic and intrinsic
                        motivation.<br> <br>
                    <b>Trust & Respect</b> - If education was just content transfer, we would all be
                        buying online apps for our children. Anyone who has tried it will vouch
                        that it simply doesn’t work. Children learn because they create bonds with
                        their mentors. It is a relationship of trust & respect. We ensure our
                        mentors build that with children.<br> <br>
                    <b>Social circle</b> - We have hundreds of kids with similar aspirations and drives
                        engaged in our programs. Collaboration is part of learning. Children
                        connect with like minded peers and what flows out of this quasi-
                        competitive and collaborative environment is the drive to continuously
                        excel.<br>
                   <br> </p> <hr>
                  
                  <p class="px-16 text-2xl"><b>To achieve this all of our classes in all the programs follow this structure.</b></h3> <br></p>
                  <br>
                  <p class="px-16 text-xl">
                            - Conceptual Understanding<br>
                            - Challenge<br>
                            - Productive Struggle<br>
                            - Groundhog Problem Solving<br>
                            - Mindmap Awareness<br>
                            - Deep Learning<br>
                  </p>
                  <div class="col-6"  height="280" controls style="position: relative; left:450px; top: -90px;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Challenge_vs_skill.svg/300px-Challenge_vs_skill.svg.png" class="rounded" alt="Cinque Terre">

                  </div>  

</head>
<body>
    
</body>
</html>













